<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TO DO LIST</title>
<link rel="stylesheet" type="text/css" href="stil.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
	var app = angular.module("myApp", []);
app.controller("myController", function($scope, $sce){
	$scope.deger = false;
	$scope.goster = true;


	$scope.time = new Date().toLocaleDateString();
	$scope.yapilacaklarListesi = [];
	$scope.silinenlerListesi = [];

	$scope.ekleme = function(){
		$scope.yapilacaklarListesi.push({gorev:$scope.textBox, tarih:$scope.time});
		$scope.textBox = "";
		$scope.sortResults('gorev', true);

	};

	$scope.silme = function(x, y){
		

		//var index = $scope.indisBulma(y);
		$scope.yapilacaklarListesi.splice(x,1);
		$scope.silinenlerListesi.push(y);
	};

	
	$scope.silinenler = function(){
		$scope.deger = true;
	};

	$scope.tarihGuncelle = function(indis,tarih){
		$scope.yapilacaklarListesi[indis].tarih = tarih.toLocaleDateString();
	};

	$scope.sortResults = function(prop, asc){
  $scope.yapilacaklarListesi = $scope.yapilacaklarListesi.sort(function(a, b) {
        if (asc) {
            return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
        } else {
            return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
        }
    });
    
}
});
</script>
</head>
<body ng-app="myApp" ng-controller="myController">
<input type="text" ng-model="textBox" placeholder="Yeni görev ekle" class="inputText1"/>
<button ng-click="ekleme()" class="listeyeEkleButon">Listeye Ekle</button>
<button ng-click="silinenler()" class="silinenleriGosterButon">Silinenleri Göster</button><br/><br/>
<input type="text" ng-model="arama" placeholder="Arama yap" class="inputText2" />



<table class="table1" ng-show="yapilacaklarListesi.length>0" ng-hide="(yapilacaklarListesi | filter:arama).length==0">
	<th></th>
    <th>Görev</th>
    <th>Bitirme Tarihi</th>
    <th></th>
	<tr ng-repeat="yapilacak in yapilacaklarListesi | filter:arama | orderBy:'gorev'">
    	<td><button ng-click="silme($index, yapilacak)" class="silButon">Sil</button></td>
        <td>{{yapilacak.gorev}}</td>
        <td>{{yapilacak.tarih}}</td>
        <td><input type="date" ng-model="tarih" /> <button class="tarihGuncelleButon" ng-click="tarihGuncelle($index,tarih)">Tarih Güncelle</button></td>
    </tr>
</table>



<table class="table2" ng-show="deger">
	<th cellpadding="2">Silinenler Listesi</th>
	<tr ng-repeat="silinen in silinenlerListesi">
        <td>{{silinen.gorev}}</td>
    </tr>
</table>

<div ng-show="yapilacaklarListesi.length>0 && (yapilacaklarListesi | filter:arama).length==0" class="demo">Sonuç Bulunamadı</div>

<!--
<ul>
    <li ng-repeat="a in yapilacaklarListesi">{{a.gorev}} {{a.tarih}}</li>
</ul>
-->


</body>
</html>
